<section class="mt-4">
  <h3>もくもくを登録</h3>
  <a routerLink="/moku/edit" routerLinkActive="active" class="btn btn-primary col-4 col-md-2">新規</a>
</section>

<section class="mt-4">
  <h3>みんなのもくもく</h3>
  <div class="card" *ngFor="let moku of (mokus | async) as mokus">
    <div class="card-block">
      <h4 class="card-title">{{moku.title}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{moku.uid}}({{moku.mokuDate}}) {{moku.isMypc ? 'PC持込' : ''}}</h6>
      <p class="card-text">{{moku.detail}}</p>
      <button class="btn btn-primary col-4 col-md-2" (click)="goEdit(moku)">編集</button>
      <button class="btn btn-danger col-4 col-md-2" (click)="deleteMoku(moku)">削除</button>
    </div>
  </div>
</section>
