<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">もくもく管理アプリ</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" >トップ</a>
      </li>
      <li class="nav-item">
        <a routerLink="/moku" routerLinkActive="active" class="nav-link" >検索</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" >ログアウト</a>
      </li>
    </ul>
    <span class="navbar-text">
      ようこそ{{ authService.displayName() }}
    </span>
  </div>
</nav>
